* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

a, p, input, div, span {
  -webkit-tap-highlight-color: transparent; }

.clear {
  clear: both;
  content: "";
  display: block; }

#foodpagebox {
  width: 100%;
  height: 100%; }
  #foodpagebox header {
    width: 100%;
    height: 40px;
    background: #333333; }
    #foodpagebox header > .wh_marko {
      width: 50%;
      line-height: 38px;
      text-align: center; }
      #foodpagebox header > .wh_marko > li {
        float: left;
        padding: 0 2%;
        cursor: pointer; }
        #foodpagebox header > .wh_marko > li > a {
          color: #ccc;
          font-size: 13px;
          font-weight: bold; }
        #foodpagebox header > .wh_marko > li:nth-of-type(1) > a > i {
          width: 55px;
          height: 14px;
          display: block;
          margin: 13px 10px 0 0;
          float: left;
          background: url("../../img/indeximg/header.png") no-repeat scroll 0 0/55px auto; }
        #foodpagebox header > .wh_marko > li:last-child {
          height: 40.1px;
          position: relative; }
          #foodpagebox header > .wh_marko > li:last-child > a {
            display: inline-block; }
            #foodpagebox header > .wh_marko > li:last-child > a > span {
              display: block;
              border-top: 6px solid #ccc;
              border-bottom: 0 solid rgba(255, 255, 255, 0);
              border-left: 4px solid rgba(255, 255, 255, 0);
              border-right: 4px solid rgba(255, 255, 255, 0); }
          #foodpagebox header > .wh_marko > li:last-child > ul {
            z-index: 20;
            width: 60px;
            height: 80px;
            display: none;
            position: absolute;
            left: -24px;
            top: 40px;
            background: #333333; }
            #foodpagebox header > .wh_marko > li:last-child > ul > li {
              cursor: pointer; }
              #foodpagebox header > .wh_marko > li:last-child > ul > li > a {
                color: #ccc;
                font-size: 13px;
                font-weight: bold; }
    #foodpagebox header > .wh_markt {
      width: 23.44%;
      line-height: 38px;
      text-align: center;
      float: right; }
      #foodpagebox header > .wh_markt > li {
        width: 40px;
        height: 40px;
        float: left;
        padding: 0 2%;
        cursor: pointer; }
        #foodpagebox header > .wh_markt > li > a {
          color: #d8d8d8; }
        #foodpagebox header > .wh_markt > li:nth-of-type(3) {
          line-height: 15px;
          position: relative; }
          #foodpagebox header > .wh_markt > li:nth-of-type(3) > a {
            display: block;
            font-size: 12px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(3) > a > img {
              width: 20px;
              height: 20px; }
          #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul {
            display: none;
            z-index: 20;
            position: absolute;
            left: 0;
            top: 40px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul > li {
              width: 63px;
              height: 40px;
              padding: 0 2%; }
              #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul > li:nth-of-type(1) {
                background: #585757; }
              #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul > li:nth-of-type(2) {
                background: #A9A9A9; }
              #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul > li > a {
                font-size: 12px;
                color: #ccc; }
                #foodpagebox header > .wh_markt > li:nth-of-type(3) > ul > li > a > img {
                  width: 20px;
                  height: 20px; }
        #foodpagebox header > .wh_markt > li:nth-of-type(4) {
          background: #59C3D1;
          line-height: 15px;
          position: relative; }
          #foodpagebox header > .wh_markt > li:nth-of-type(4) > a {
            font-size: 13px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(4) > a > img {
              width: 20px;
              height: 20px; }
          #foodpagebox header > .wh_markt > li:nth-of-type(4) > ul {
            display: none;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 40px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(4) > ul > li {
              width: 63px;
              height: 40px;
              font-size: 12px;
              line-height: 40px;
              padding: 0 2%; }
              #foodpagebox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(1) {
                background: #8ECDD8;
                color: #f1f1f1; }
              #foodpagebox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(2) {
                background: #A6DFEA;
                color: #f1f1f1; }
              #foodpagebox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(3) {
                background: #ADECF8;
                color: #f1f1f1; }
        #foodpagebox header > .wh_markt > li:nth-of-type(5) {
          background: #FFA859;
          line-height: 15px; }
          #foodpagebox header > .wh_markt > li:nth-of-type(5) > a {
            font-size: 10px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(5) > a > img {
              width: 20px;
              height: 20px; }
        #foodpagebox header > .wh_markt > li:nth-of-type(6) {
          background: #FE5761;
          line-height: 15px;
          position: relative; }
          #foodpagebox header > .wh_markt > li:nth-of-type(6) > a {
            font-size: 10px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(6) > a > img {
              width: 20px;
              height: 20px; }
          #foodpagebox header > .wh_markt > li:nth-of-type(6) > div {
            display: none;
            z-index: 1;
            position: absolute;
            right: 0;
            top: 40px; }
            #foodpagebox header > .wh_markt > li:nth-of-type(6) > div > img {
              width: 100px;
              height: 100px; }
  #foodpagebox > .content {
    width: 100%; }
    #foodpagebox > .content > .content_mark {
      width: 1000px;
      margin: 0 auto; }
      #foodpagebox > .content > .content_mark > .wh_nav {
        width: 100%;
        height: 70px;
        position: relative;
        background: white; }
        #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_o {
          float: left;
          position: absolute;
          left: 0;
          top: 0; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_o > img {
            width: 105px;
            height: 40px;
            margin-top: 15%; }
        #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t {
          width: 50%;
          position: absolute;
          left: 70%;
          margin-left: -300px;
          top: 30%; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li {
            float: left;
            margin: 0 1.5%; }
            #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li > a {
              font-size: 20px;
              color: #333333; }
            #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:nth-of-type(1) {
              position: relative; }
              #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:nth-of-type(1) > a {
                color: #FF6767; }
                #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:nth-of-type(1) > a > i {
                  position: absolute;
                  bottom: -26px;
                  left: 50%;
                  z-index: 1;
                  display: block;
                  overflow: hidden;
                  margin-left: -9px;
                  width: 0;
                  height: 0;
                  border: 9px dashed transparent;
                  border-bottom: 9px solid #ff6767; }
                #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:nth-of-type(1) > a > b {
                  position: absolute;
                  bottom: -27.3px;
                  left: 50%;
                  z-index: 2;
                  display: block;
                  overflow: hidden;
                  margin-left: -9px;
                  width: 0;
                  height: 0;
                  border: 9px dashed transparent;
                  border-bottom: 9px solid #fff; }
            #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:nth-of-type(3) {
              color: #DDD;
              margin-top: 2px; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_t > li:hover > a {
            color: #FF6767; }
        #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_re {
          height: 28px;
          margin-top: 2%;
          position: absolute;
          right: 0;
          top: 0; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_re > input {
            width: 66%;
            height: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            float: left;
            outline: none;
            border: 1px solid #CCCCCC; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_re > span {
            width: 23.1%;
            height: 21px;
            float: right;
            background: #999999;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 2% 5%;
            color: white;
            cursor: pointer; }
            #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_re > span > img {
              width: 16px;
              height: 15px;
              margin-right: 2px;
              margin-top: 2px; }
          #foodpagebox > .content > .content_mark > .wh_nav > .wh_nav_re > span:hover {
            background: #FF6767; }
        #foodpagebox > .content > .content_mark > .wh_nav > .title {
          width: 60px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 5px;
          background: #FF838B;
          color: white;
          font-size: 18px;
          position: absolute;
          left: 120px;
          top: 25%;
          cursor: pointer; }
        #foodpagebox > .content > .content_mark > .wh_nav > .title:hover {
          background: #FF6767; }
      #foodpagebox > .content > .content_mark > .wh_classification {
        width: 100%;
        height: 36px;
        border-top: 1px solid #FF6767;
        border-bottom: 1px solid #FF6767;
        background: white; }
        #foodpagebox > .content > .content_mark > .wh_classification > ul {
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 36px; }
          #foodpagebox > .content > .content_mark > .wh_classification > ul > li {
            cursor: pointer;
            float: left;
            margin: 0 1%; }
            #foodpagebox > .content > .content_mark > .wh_classification > ul > li > a {
              color: #333333;
              font-size: 14px; }
            #foodpagebox > .content > .content_mark > .wh_classification > ul > li:nth-of-type(1) > a {
              color: #FF6767; }
          #foodpagebox > .content > .content_mark > .wh_classification > ul > li:hover > a {
            color: #FF6767; }
      #foodpagebox > .content > .content_mark > .wh_img {
        width: 100%;
        height: 90px;
        margin: 1% 0; }
        #foodpagebox > .content > .content_mark > .wh_img > a > img {
          width: 100%;
          height: 100%; }
      #foodpagebox > .content > .content_mark > .wh_hot {
        margin: 20px 0 30px 0;
        width: 100%;
        overflow: hidden;
        background: #f8f8f8;
        position: relative;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee; }
        #foodpagebox > .content > .content_mark > .wh_hot > h3 {
          float: left;
          font-size: 24px;
          height: 40px;
          line-height: 40px;
          margin-top: -20px;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 186px;
          color: #666; }
        #foodpagebox > .content > .content_mark > .wh_hot > span {
          opacity: 0;
          float: left;
          font-size: 12px;
          height: 22px;
          line-height: 22px;
          margin-top: 18px;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 186px;
          color: #999; }
        #foodpagebox > .content > .content_mark > .wh_hot > ul {
          width: 804px;
          float: right;
          background: #fff;
          margin-bottom: -1px;
          overflow: hidden; }
          #foodpagebox > .content > .content_mark > .wh_hot > ul > li {
            float: left;
            position: relative; }
            #foodpagebox > .content > .content_mark > .wh_hot > ul > li > a {
              float: left;
              width: 133px;
              height: 70px;
              line-height: 70px;
              border-left: 1px solid #eeeeee;
              border-bottom: 1px solid #eeeeee;
              font-size: 20px;
              color: #333;
              text-align: center;
              position: relative;
              overflow: hidden; }
          #foodpagebox > .content > .content_mark > .wh_hot > ul > li:hover {
            background: #F8F8F8; }
      #foodpagebox > .content > .content_mark > .wh_Label {
        width: 100%; }
        #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark {
          width: 100%;
          height: 120px;
          padding: 10px 0; }
          #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > div {
            float: left;
            margin-right: 8px; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > div:last-child {
              margin: 0; }
          #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo {
            width: 185px;
            height: 100%;
            overflow: hidden; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(4) > div:nth-of-type(1) {
              background: #F16CCE; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(4) > div:nth-of-type(2) {
              background: #F1C100; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(4) > div:nth-of-type(4) {
              background: #7ACA18; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(6) > div:nth-of-type(1) {
              background: #F46276; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(6) > div:nth-of-type(2) {
              background: #F1D11E; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo:nth-of-type(6) > div:nth-of-type(4) {
              background: #00DCAC; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div {
              font-size: 13px;
              padding: 1%;
              cursor: pointer; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div > a {
                color: white; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div:nth-of-type(1) {
                width: 45%;
                height: 45%;
                background: #F1C100;
                float: left;
                text-align: center;
                line-height: 54px; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div:nth-of-type(2) {
                width: 45%;
                height: 45%;
                background: #7ACA18;
                float: right;
                text-align: center;
                color: white;
                line-height: 54px; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div:nth-of-type(4) {
                font-size: 18px;
                width: 100%;
                height: 50%;
                background: #8560F0;
                text-align: center;
                color: white;
                line-height: 54px; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelo > div:hover > a {
              text-decoration: underline; }
          #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelt {
            width: 135px;
            height: 100%;
            overflow: hidden; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelt > div {
              width: 100%;
              height: 100%;
              background: #F46276;
              text-align: center;
              line-height: 120px;
              font-size: 20px;
              padding: 1%;
              cursor: pointer; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelt > div > a {
                color: white; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelt > div:hover > a {
              text-decoration: underline; }
          #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr {
            width: 135px;
            height: 100%;
            overflow: hidden; }
            #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr > div {
              font-size: 13px;
              padding: 1%;
              cursor: pointer; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr > div > a {
                color: white; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr > div:nth-of-type(1) {
                width: 45%;
                height: 45%;
                background: #F1D11E;
                float: left;
                text-align: center;
                line-height: 54px;
                margin-bottom: 7px; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr > div:nth-of-type(2) {
                font-size: 18px;
                width: 45%;
                height: 100%;
                float: right;
                background: #00DCAC;
                text-align: center;
                color: white;
                line-height: 54px; }
              #foodpagebox > .content > .content_mark > .wh_Label > .wh_Labelmark > .wh_Labelr > div:nth-of-type(3) {
                width: 45%;
                height: 45%;
                background: #FF7D3F;
                float: left;
                text-align: center;
                line-height: 54px; }
      #foodpagebox > .content > .content_mark > .wh_footer {
        width: 100%;
        border-top: 1px solid #E8E8E8;
        padding-top: 1%; }
        #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o {
          float: left; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(1) {
            color: #FF5500;
            margin: 2% 0;
            font-size: 14px;
            cursor: pointer; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(1):hover {
            text-decoration: underline; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(2) {
            color: #666666;
            margin: 2% 0;
            font-size: 12px; }
            #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(2) > span {
              cursor: pointer; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(2) > span:hover {
            color: #FF6767;
            text-decoration: underline; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-o > p:nth-of-type(3) {
            color: #666666;
            font-size: 12px; }
        #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-t {
          float: right;
          text-align: center;
          font-size: 12px; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-t > img {
            width: 82px;
            height: 82px; }
        #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-re {
          float: right;
          text-align: center;
          font-size: 12px;
          margin-bottom: 1%; }
          #foodpagebox > .content > .content_mark > .wh_footer > .wh_footer_mark-re > img {
            width: 82px;
            height: 82px; }
  #foodpagebox > .gotop {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: fixed;
    bottom: 12%;
    right: 8%;
    cursor: pointer;
    opacity: 0; }
    #foodpagebox > .gotop > p {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    #foodpagebox > .gotop > img {
      width: 100%;
      height: 100%;
      z-index: 1; }
  #foodpagebox > .gotop:hover > p {
    background: white;
    opacity: .2; }

/*# sourceMappingURL=foodpage.css.map */
