* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a,
p,
input,
div,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.n_clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
  content: "";
  display: block;
}

@mixin pos($p:absolute) {
  position: $p;
}

#pocketbox {
  width: 100%;
  height: 100%;
  header {
    width: 100%;
    height: 40px;
    background: #333333;
    & > .wh_marko {
      width: 50%;
      line-height: 38px;
      text-align: center;
      //float: left;
      & > li {
        float: left;
        padding: 0 2%;
        cursor: pointer;
        & > a {
          color: #ccc;
          font-size: 13px;
          font-weight: bold;
        }
        &:nth-of-type(1) {
          & > a {
            & > i {
              width: 55px;
              height: 14px;
              display: block;
              margin: 13px 10px 0 0;
              float: left;
              background: url("../../img/indeximg/header.png") no-repeat scroll 0 0/55px auto;
            }
          }
        }
        &:last-child {
          height: 40.1px;
          @include pos(relative);
          & > a {
            display: inline-block;
            & > span {
              display: block;
              border-top: 6px solid #ccc;
              border-bottom: 0 solid rgba(255, 255, 255, 0);
              border-left: 4px solid rgba(255, 255, 255, 0);
              border-right: 4px solid rgba(255, 255, 255, 0);
            }
          }
          & > ul {
            z-index: 20;
            width: 60px;
            height: 80px;
            display: none;
            @include pos();
            left: -24px;
            top: 40px;
            background: #333333;
            & > li {
              cursor: pointer;
              & > a {
                color: #ccc;
                font-size: 13px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    & > .wh_markt {
      width: 23.44%;
      line-height: 38px;
      text-align: center;
      float: right;
      //border:1px solid white;
      & > li {
        //width:100%;
        width: 40px;
        height: 40px;
        float: left;
        padding: 0 2%;
        cursor: pointer;
        & > a {
          color: #d8d8d8;
        }
        &:nth-of-type(3) {
          line-height: 15px;
          @include pos(relative);
          & > a {
            display: block;
            font-size: 12px;
            & > img {
              width: 20px;
              height: 20px;
            }
          }
          & > ul {
            display: none;
            z-index: 20;
            @include pos();
            left: 0;
            top: 40px;
            & > li {
              width: 63px;
              height: 40px;
              padding: 0 2%;
              &:nth-of-type(1) {
                background: #585757;
              }
              &:nth-of-type(2) {
                background: #A9A9A9;
              }
              & > a {
                font-size: 12px;
                color: #ccc;
                & > img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
        &:nth-of-type(4) {
          background: #59C3D1;
          line-height: 15px;
          @include pos(relative);
          & > a {
            font-size: 13px;
            & > img {
              width: 20px;
              height: 20px;
            }
          }
          & > ul {
            display: none;
            z-index: 1;
            @include pos();
            left: 0;
            top: 40px;
            & > li {
              width: 63px;
              height: 40px;
              font-size: 12px;
              line-height: 40px;
              padding: 0 2%;
              &:nth-of-type(1) {
                background: #8ECDD8;
                color: #f1f1f1;
              }
              &:nth-of-type(2) {
                background: #A6DFEA;
                color: #f1f1f1;
              }
              &:nth-of-type(3) {
                background: #ADECF8;
                color: #f1f1f1;
              }
            }
          }
        }
        &:nth-of-type(5) {
          background: #FFA859;
          line-height: 15px;
          & > a {
            font-size: 10px;
            & > img {
              width: 20px;
              height: 20px;
            }
          }
        }
        &:nth-of-type(6) {
          background: #FE5761;
          line-height: 15px;
          @include pos(relative);
          & > a {
            font-size: 10px;
            & > img {
              width: 20px;
              height: 20px;
            }
          }
          & > div {
            display: none;
            z-index: 1;
            @include pos();
            right: 0;
            top: 40px;
            & > img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    .content_mark {
      width: 1000px;
      margin: 0 auto;
      padding: 15px 0px;
      .wh_nav {
        width: 100%;
        border-bottom: 1px solid #FFA0A0;
        position: relative;
        .wh_nav_o {
          float: left;
          width: 108px;
          height: 60px;
          img {
            width: 100%;
          }
        }
        .n_nav_btn {
          width: 70px;
          height: 30px;
          float: left;
          line-height: 40px;
          padding-left: 20px;
          button {
            width: 60px;
            height: 30px;
            padding: 5px 10px;
            border: none;
            color: white;
            background: #FF838B;
            cursor: pointer;
            border-radius: 5px;
            font-size: 20px;
          }
          & > button:hover {
            background: #FE5761;
          }
        }
        .n_nav_nav {
          width: 489px;
          height: 60px;
          position: absolute;
          left: 30%;
          top: 10px;
          a {
            font-size: 20px;
            margin-right: 10px;
            position: relative;
            &.n_on {
              color: #FF6767;
            }
            & > i {
              @include pos();
              bottom: -29px;
              left: 50%;
              z-index: 1;
              display: block;
              overflow: hidden;
              margin-left: -9px;
              width: 0;
              height: 0;
              border: 9px dashed transparent;
              border-bottom: 9px solid #ff6767;
            }
            & > b {
              @include pos();
              bottom: -30px;
              left: 50%;
              z-index: 2;
              display: block;
              overflow: hidden;
              margin-left: -9px;
              width: 0;
              height: 0;
              border: 9px dashed transparent;
              border-bottom: 9px solid #fff;
            }
          }
          & > a:hover {
            color: #FF6767;
          }
        }
        .n_nav_search {
          height: 28px;
          margin-top: 2%;
          @include pos();
          right: 0;
          top: -10px;
          & > input {
            width: 66%;
            height: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            float: left;
            outline: none;
            border: 1px solid #CCCCCC;
          }
          & > span {
            width: 23.1%;
            height: 21px;
            float: right;
            background: #999999;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 2% 5%;
            color: white;
            & > img {
              width: 16px;
              height: 15px;
              margin-right: 2px;
              margin-top: 2px;
            }
          }
          & > span:hover {
            background: #FE5761;
          }
        }
      }
      .n_nav_title {
        width: 100%;
        height: 36px;
        & > ul {
          width: 100%;
          height: 36px;
          position: relative;
          border-bottom: 1px solid #FFA0A0;
          & > li {
            float: left;
            margin: 0px 5px;
            padding: 8px;
            & > a {
              font-size: 14px;
              color: #595959;
            }
            .n_on1 {
              color: #FF838B;
            }
            & > a:hover {
              color: #FF838B;
            }
            &:last-child {
              float: right;
              position: relative;
              & > .n_modalbox {
                background: white;
                z-index: 11;
                overflow: hidden;
                width: 1000px;
                height: 0px;
                position: absolute;
                top: 103%;
                left: -900%;
                & > .n_model1 {
                  margin-top: 10px;
                  float: left;
                  margin-right: 20px;
                  & > h4 {
                    font-size: 14px;
                  }
                  ul {
                    float: left;
                    margin-right: 5px;
                    li {
                      padding: 5px 5px;
                      color: #666666;
                      font-size: 14px;
                      margin: 5px 0px;
                    }
                    & > li:hover {
                      color: #FF838B;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .n_carousel {
        margin: 30px 0px;
        width: 100%;
        & > .swiper-container {
          width: 100%;
          height: 250px;
          position: relative;
          .swiper-slide {
            width: 100%;
            .n_swiperimg1 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799037982.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg2 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/20170608149690209447410104261.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg3 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/2017060714968156994409732003.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg4 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/20170606149674150658110104261.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg5 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/2017060514966431438699732003.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg6 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/20170602149638798817710104261.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg7 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/2017060114962955828119732003.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg8 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/20170531149619818727310104261.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              margin-right: 40px;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
            .n_swiperimg9 {
              float: left;
              width: 300px;
              height: 230px;
              background: url("../../img/pocketimg/2017052714958811236879732003.jpg") no-repeat;
              background-size: 100% 100%;
              position: relative;
              & > p {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 230px;
                color: white;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                font-size: 24px;
              }
            }
          }
          .swiper-button-prev {
            padding: 10px;
            position: absolute;
            top: 40%;
            left: 0%;
          }
          .swiper-button-prev:hover {
            background-color: rgba(0, 0, 0, 0.4);
          }
          .swiper-button-next {
            padding: 10px;
            position: absolute;
            top: 40%;
            right: 2%;
          }
          .swiper-button-next:hover {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
      .n_icon {
        width: 100%;
        height: 120px;
        ul {
          width: 100%;
          li {
            float: left;
            text-align: center;
            width: 99px;
            height: 77px;
            img {
              width: 50px;
              height: 50px;
            }
          }
          & > li:hover {
            color: #FF6767;
          }
        }
      }
      .content_mark0 {
        width: 100%;
        .n_Selectioncard1 {
          width: 1000px;
          border-bottom: 1px solid #E8E8E8;
          padding: 9px 0px;
          & > a {
            color: #666666;
            padding: 9px 0px;
            font-size: 20px;
            font-weight: bold;
            margin: 0px 5px;
            &.n_on {
              border-bottom: 3px solid #FF6767;
              color: #FF6767;
            }
          }
          .n_right {
            float: right;
            & > a {
              color: #666666;
              font-weight: bold;
              font-size: 18px;
              &.n_on1 {
                color: #FF6767;
              }
            }
            & > a:hover {
              color: #FF6767;
            }
          }
        }
        .n_cookbook1 {
          width: 100%;
          padding: 8px 0px;
          .n_cook {
            float: left;
            margin-right: 20px;
            width: 230px;
            height: 310px;
            text-align: center;
            .n_cookimg1 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201704111491897620548.jpeg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg2 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201705261495764271105.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg3 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496998777285.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg4 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496998550588.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg5 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997905215.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;

            }
            .n_cookimg20 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699774463510104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg6 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997659430.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg7 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496993277302.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg8 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496992065195.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg9 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699100613010104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg10 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699008469110104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg11 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060914969885341369732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg12 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170608149690209447410104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg13 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706081496899503395.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg14 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496825530228.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg15 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496825420124.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg16 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060714968156994409732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg17 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg18 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800227649.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg19 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            p {
              width: 100%;
              text-align: center;
              font-size: 20px;
              margin: 8px 0px;
              color: black;
            }
            p:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: #FE5761;
              font-size: 14px;
              text-align: center;
              display: block;
              font-weight: bold;
            }
            a:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            span {
              padding: 4px 10px;
              border: 1px solid #FE5761;
              color: #FE5761;
              width: 52px;
              height: 22px;
              border-radius: 12px;
              font-size: 12px;
            }
            & > span:hover {
              background: #FE5761;
              color: white;
            }
          }
        }
        .n_cookbook2 {
          width: 100%;
          padding: 8px 0px;
          display: none;
          .n_cook {
            float: left;
            margin-right: 20px;
            width: 230px;
            height: 310px;
            text-align: center;
            .n_cookimg1 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg2 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg3 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496998777285.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg4 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg5 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997905215.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg20 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699774463510104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg6 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997659430.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg7 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496993277302.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg8 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997659430.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg9 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699100613010104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg10 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997659430.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg11 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060914969885341369732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg12 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170608149690209447410104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg13 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706081496899503395.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg14 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg15 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496825420124.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg16 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060714968156994409732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg17 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg18 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800227649.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg19 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            p {
              width: 100%;
              text-align: center;
              font-size: 20px;
              margin: 8px 0px;
              color: black;
            }
            p:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: #FE5761;
              font-size: 14px;
              text-align: center;
              display: block;
              font-weight: bold;
            }
            a:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            span {
              padding: 4px 10px;
              border: 1px solid #FE5761;
              color: #FE5761;
              width: 52px;
              height: 22px;
              border-radius: 12px;
              font-size: 12px;
            }
            & > span:hover {
              background: #FE5761;
              color: white;
            }
          }
        }
        .n_cookbook3 {
          width: 100%;
          padding: 8px 0px;
          display: none;
          text-align: center;
          .n_cook {
            float: left;
            margin-right: 20px;
            width: 230px;
            height: 305px;
            .n_cookimg1 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg2 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg3 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496992065195.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg4 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496993277302.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg5 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997905215.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg20 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699774463510104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg6 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496997659430.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg7 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496993277302.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg8 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706091496992065195.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg9 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699100613010104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg10 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170609149699008469110104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg11 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060914969885341369732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg12 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/20170608149690209447410104261.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg13 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706081496899503395.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg14 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496825420124.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg15 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496825420124.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg16 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/2017060714968156994409732003.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg17 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800704477.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg18 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496800227649.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            .n_cookimg19 {
              width: 100%;
              height: 230px;
              background: url("../../img/pocketimg/201706071496799377114.jpg") no-repeat;
              background-size: 100% 100%;
              background-position: 50%;
            }
            p {
              width: 100%;
              text-align: center;
              font-size: 20px;
              margin: 8px 0px;
              color: black;
            }
            p:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            a {
              width: 100%;
              text-decoration: none;
              color: #FE5761;
              font-size: 14px;
              text-align: center;
              display: block;
              font-weight: bold;
            }
            a:hover {
              color: #FF6767;
              transition: all 2s linear;
            }
            span {
              padding: 4px 10px;
              border: 1px solid #FE5761;
              color: #FE5761;
              width: 52px;
              height: 22px;
              border-radius: 12px;
              font-size: 12px;
            }
            & > span:hover {
              background: #FE5761;
              color: white;
            }
          }
        }
      }
      .n_morebutton {
        width: 100%;
        height: 44px;
        & > a {
          display: block;
          width: 100%;
          height: 44px;
          font-size: 22px;
          color: #666;
          text-align: center;
          line-height: 44px;
          background: #F8F8F8;
        }
        & > a:hover {
          text-decoration: underline;
        }
      }
      footer {
        margin-top: 20px;
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid #E8E8E8;
        position: relative;
        p {
          width: 100%;
          margin: 10px 0px;
          color: #666;
          font-size: 12px;
          &:nth-of-type(1) {
            color: #FF553F;
            font-size: 14px;
          }
          &:nth-of-type(2) {
            & > a {
              color: #666;
            }
            & > a:hover {
              color: #FF5500;
              text-decoration: underline;
            }
          }
        }
        .n_kehudaun {
          position: absolute;
          top: 10px;
          right: 10%;
          width: 82px;
          text-align: center;
          img {
            width: 82px;
            height: 82px;
          }
        }
        .n_weixin {
          position: absolute;
          top: 10px;
          right: 0;
          width: 82px;
          text-align: center;
          img {
            width: 82px;
            height: 82px;
          }
        }
      }
    }
  }
  & > .gotop {
    width: 58px;
    height: 58px;
    //border:1px solid black;
    border-radius: 50%;
    @include pos(fixed);
    bottom: 12%;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    & > p {
      width: 100%;
      height: 100%;
      @include pos();
      left: 0;
      top: 0;
    }
    & > img {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  & > .gotop:hover {
    & > p {
      background: white;
      opacity: .2;
    }
  }
}