* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

a,
p,
input,
div,
span {
  -webkit-tap-highlight-color: transparent; }

.n_clearfix:after {
  content: "";
  display: block;
  clear: both; }

.clear {
  clear: both;
  content: "";
  display: block; }

#searchbox {
  width: 100%;
  height: 100%; }
  #searchbox header {
    width: 100%;
    height: 40px;
    background: #333333; }
    #searchbox header > .wh_marko {
      width: 50%;
      line-height: 38px;
      text-align: center; }
      #searchbox header > .wh_marko > li {
        float: left;
        padding: 0 2%;
        cursor: pointer; }
        #searchbox header > .wh_marko > li > a {
          color: #ccc;
          font-size: 13px;
          font-weight: bold; }
        #searchbox header > .wh_marko > li:nth-of-type(1) > a > i {
          width: 55px;
          height: 14px;
          display: block;
          margin: 13px 10px 0 0;
          float: left;
          background: url("../../img/indeximg/header.png") no-repeat scroll 0 0/55px auto; }
        #searchbox header > .wh_marko > li:last-child {
          height: 40.1px;
          position: relative; }
          #searchbox header > .wh_marko > li:last-child > a {
            display: inline-block; }
            #searchbox header > .wh_marko > li:last-child > a > span {
              display: block;
              border-top: 6px solid #ccc;
              border-bottom: 0 solid rgba(255, 255, 255, 0);
              border-left: 4px solid rgba(255, 255, 255, 0);
              border-right: 4px solid rgba(255, 255, 255, 0); }
          #searchbox header > .wh_marko > li:last-child > ul {
            z-index: 20;
            width: 60px;
            height: 80px;
            display: none;
            position: absolute;
            left: -24px;
            top: 40px;
            background: #333333; }
            #searchbox header > .wh_marko > li:last-child > ul > li {
              cursor: pointer; }
              #searchbox header > .wh_marko > li:last-child > ul > li > a {
                color: #ccc;
                font-size: 13px;
                font-weight: bold; }
    #searchbox header > .wh_markt {
      width: 23.44%;
      line-height: 38px;
      text-align: center;
      float: right; }
      #searchbox header > .wh_markt > li {
        width: 40px;
        height: 40px;
        float: left;
        padding: 0 2%;
        cursor: pointer; }
        #searchbox header > .wh_markt > li > a {
          color: #d8d8d8; }
        #searchbox header > .wh_markt > li:nth-of-type(3) {
          line-height: 15px;
          position: relative; }
          #searchbox header > .wh_markt > li:nth-of-type(3) > a {
            display: block;
            font-size: 12px; }
            #searchbox header > .wh_markt > li:nth-of-type(3) > a > img {
              width: 20px;
              height: 20px; }
          #searchbox header > .wh_markt > li:nth-of-type(3) > ul {
            display: none;
            z-index: 20;
            position: absolute;
            left: 0;
            top: 40px; }
            #searchbox header > .wh_markt > li:nth-of-type(3) > ul > li {
              width: 63px;
              height: 40px;
              padding: 0 2%; }
              #searchbox header > .wh_markt > li:nth-of-type(3) > ul > li:nth-of-type(1) {
                background: #585757; }
              #searchbox header > .wh_markt > li:nth-of-type(3) > ul > li:nth-of-type(2) {
                background: #A9A9A9; }
              #searchbox header > .wh_markt > li:nth-of-type(3) > ul > li > a {
                font-size: 12px;
                color: #ccc; }
                #searchbox header > .wh_markt > li:nth-of-type(3) > ul > li > a > img {
                  width: 20px;
                  height: 20px; }
        #searchbox header > .wh_markt > li:nth-of-type(4) {
          background: #59C3D1;
          line-height: 15px;
          position: relative; }
          #searchbox header > .wh_markt > li:nth-of-type(4) > a {
            font-size: 13px; }
            #searchbox header > .wh_markt > li:nth-of-type(4) > a > img {
              width: 20px;
              height: 20px; }
          #searchbox header > .wh_markt > li:nth-of-type(4) > ul {
            display: none;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 40px; }
            #searchbox header > .wh_markt > li:nth-of-type(4) > ul > li {
              width: 63px;
              height: 40px;
              font-size: 12px;
              line-height: 40px;
              padding: 0 2%; }
              #searchbox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(1) {
                background: #8ECDD8;
                color: #f1f1f1; }
              #searchbox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(2) {
                background: #A6DFEA;
                color: #f1f1f1; }
              #searchbox header > .wh_markt > li:nth-of-type(4) > ul > li:nth-of-type(3) {
                background: #ADECF8;
                color: #f1f1f1; }
        #searchbox header > .wh_markt > li:nth-of-type(5) {
          background: #FFA859;
          line-height: 15px; }
          #searchbox header > .wh_markt > li:nth-of-type(5) > a {
            font-size: 10px; }
            #searchbox header > .wh_markt > li:nth-of-type(5) > a > img {
              width: 20px;
              height: 20px; }
        #searchbox header > .wh_markt > li:nth-of-type(6) {
          background: #FE5761;
          line-height: 15px;
          position: relative; }
          #searchbox header > .wh_markt > li:nth-of-type(6) > a {
            font-size: 10px; }
            #searchbox header > .wh_markt > li:nth-of-type(6) > a > img {
              width: 20px;
              height: 20px; }
          #searchbox header > .wh_markt > li:nth-of-type(6) > div {
            display: none;
            z-index: 1;
            position: absolute;
            right: 0;
            top: 40px; }
            #searchbox header > .wh_markt > li:nth-of-type(6) > div > img {
              width: 100px;
              height: 100px; }
  #searchbox .content {
    width: 100%; }
    #searchbox .content .content_mark {
      width: 1000px;
      margin: 0 auto;
      padding: 15px 0px; }
      #searchbox .content .content_mark .n_search {
        width: 80%;
        margin: 30px 0px;
        float: right; }
        #searchbox .content .content_mark .n_search .n_search-nav {
          width: 100%;
          margin: 10px 0px; }
          #searchbox .content .content_mark .n_search .n_search-nav li {
            float: left;
            padding: 5px 10px;
            margin: 0px 5px; }
            #searchbox .content .content_mark .n_search .n_search-nav li > a {
              color: #666666; }
            #searchbox .content .content_mark .n_search .n_search-nav li > a:hover {
              text-decoration: underline;
              color: #FE5761; }
          #searchbox .content .content_mark .n_search .n_search-nav .n_on a {
            color: #FE5761; }
        #searchbox .content .content_mark .n_search input {
          width: 80%;
          height: 40px;
          border: 2px solid #FE5761; }
        #searchbox .content .content_mark .n_search > a {
          font-weight: bold;
          padding: 13px 30px;
          padding-bottom: 16px;
          background: #FE5761;
          color: white; }
        #searchbox .content .content_mark .n_search > a:hover {
          text-decoration: underline; }
      #searchbox .content .content_mark .n_search-content {
        width: 100%; }
        #searchbox .content .content_mark .n_search-content .n_search-content-left {
          float: left; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left h3 {
            color: #FE5761; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left h3 img {
              vertical-align: bottom; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul {
            float: left; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul > li {
              position: relative;
              margin: 20px 0px; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul > li img {
                vertical-align: top; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul > li span {
                font-size: 20px; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul > li > span:hover {
                color: #FE5761;
                text-decoration: underline; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent1 > ul > li a {
                position: absolute;
                top: 40%;
                left: 29%;
                color: #9F9F9F;
                font-size: 14px; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 {
            display: none; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul {
              float: left; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul > li {
                position: relative;
                margin: 20px 0px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul > li img {
                  vertical-align: top; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul > li span {
                  font-size: 20px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul > li > span:hover {
                  color: #FE5761;
                  text-decoration: underline; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent2 > ul > li a {
                  position: absolute;
                  top: 40%;
                  left: 29%;
                  color: #9F9F9F;
                  font-size: 14px; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 {
            display: none; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul {
              float: left; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul > li {
                position: relative;
                margin: 20px 0px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul > li img {
                  vertical-align: top; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul > li span {
                  font-size: 20px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul > li > span:hover {
                  color: #FE5761;
                  text-decoration: underline; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent3 > ul > li a {
                  position: absolute;
                  top: 40%;
                  left: 29%;
                  color: #9F9F9F;
                  font-size: 14px; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 {
            display: none; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul {
              float: left; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul > li {
                position: relative;
                margin: 20px 0px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul > li img {
                  vertical-align: top; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul > li span {
                  font-size: 20px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul > li > span:hover {
                  color: #FE5761;
                  text-decoration: underline; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent4 > ul > li a {
                  position: absolute;
                  top: 40%;
                  left: 29%;
                  color: #9F9F9F;
                  font-size: 14px; }
          #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 {
            display: none; }
            #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul {
              float: left; }
              #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul > li {
                position: relative;
                margin: 20px 0px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul > li img {
                  vertical-align: top; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul > li span {
                  font-size: 20px; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul > li > span:hover {
                  color: #FE5761;
                  text-decoration: underline; }
                #searchbox .content .content_mark .n_search-content .n_search-content-left .n_searchcontent5 > ul > li a {
                  position: absolute;
                  top: 40%;
                  left: 29%;
                  color: #9F9F9F;
                  font-size: 14px; }
        #searchbox .content .content_mark .n_search-content .n_search-content-right {
          float: right;
          margin-right: 60px; }
          #searchbox .content .content_mark .n_search-content .n_search-content-right h3 {
            color: #FE5761; }
            #searchbox .content .content_mark .n_search-content .n_search-content-right h3 img {
              vertical-align: bottom; }
          #searchbox .content .content_mark .n_search-content .n_search-content-right > ul {
            list-style: circle; }
            #searchbox .content .content_mark .n_search-content .n_search-content-right > ul > li {
              padding: 10px 0px; }
              #searchbox .content .content_mark .n_search-content .n_search-content-right > ul > li img {
                margin-right: 10px; }
              #searchbox .content .content_mark .n_search-content .n_search-content-right > ul > li > a {
                color: #666666; }
              #searchbox .content .content_mark .n_search-content .n_search-content-right > ul > li > a:hover {
                color: #FE5761;
                text-decoration: underline; }
      #searchbox .content .content_mark footer {
        margin-top: 20px;
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid #E8E8E8;
        position: relative; }
        #searchbox .content .content_mark footer p {
          width: 100%;
          margin: 10px 0px;
          color: #666;
          font-size: 12px; }
          #searchbox .content .content_mark footer p:nth-of-type(1) {
            color: #FF553F;
            font-size: 14px; }
          #searchbox .content .content_mark footer p:nth-of-type(2) > a {
            color: #666; }
          #searchbox .content .content_mark footer p:nth-of-type(2) > a:hover {
            color: #FF5500;
            text-decoration: underline; }
        #searchbox .content .content_mark footer .n_kehudaun {
          position: absolute;
          top: 10px;
          right: 10%;
          width: 82px;
          text-align: center; }
          #searchbox .content .content_mark footer .n_kehudaun img {
            width: 82px;
            height: 82px; }
        #searchbox .content .content_mark footer .n_weixin {
          position: absolute;
          top: 10px;
          right: 0;
          width: 82px;
          text-align: center; }
          #searchbox .content .content_mark footer .n_weixin img {
            width: 82px;
            height: 82px; }

/*# sourceMappingURL=search.css.map */
